@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
    }
</style>
<h4 class="text-h4">PHIM ĐANG CHIẾU</h4>
<div class="div">
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/BatMan.png" />
        <p class="p-mv">THE BATMAN</p>
        <p class="p-time">Khởi chiếu: 04/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/BNN.jpg" />
        <p class="p-mv">BẪY NGỌT NGÀO</p>
        <p class="p-time">Khởi Chiếu: 11/02/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/Spiderman-nowayhome.jpg" />
        <p class="p-mv-2">SPIDER MAN: KHÔNG CÒN NHÀ</p>
        <p class="p-time">Khởi Chiếu: 17/12/2021</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/GauDo.jpg" />
        <p class="p-mv">GẤU ĐỎ BIẾN HÌNH</p>
        <p class="p-time">Khởi Chiếu: 11/03/2020</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/KeyTramTy.jpg" />
        <p class="p-mv">CHÌA KHÓA TRĂM TỶ</p>
        <p class="p-time">01/02/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/AnMang.jpg" />
        <p class="p-mv-2">ÁN MẠNG TRÊN SÔNG NILE</p>
        <p class="p-time">11/02/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
</div>
<div class="div-2">
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/GaDien.jpg" />
        <p class="p-mv-3">GÃ ĐIÊN BÁO THÙ</p>
        <p class="p-time">11/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/GiaDanh.jpg" />
        <p class="p-mv-3">GIẢ DANH ANH HÙNG</p>
        <p class="p-time">11/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/PhiVuDen.jpg" />
        <p class="p-mv-3">PHI VỤ ĐEN</p>
        <p class="p-time">Khởi Chiếu: 11/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/QiaiXe.jpg" />
        <p class="p-mv-3">QUÁI XẾ GIAO HÀNG</p>
        <p class="p-time">Khởi Chiếu: 11/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/DemTroiBuoc.jpg" />
        <p class="p-mv-3">ĐÊM TRÓI BUỘC</p>
        <p class="p-time">Khởi Chiếu: 11/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/BongDe.jpg" />
        <p class="p-mv-3">BÓNG ĐÈ</p>
        <p class="p-time">Khởi Chiếu: 18/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
</div>
<div class="div-3">
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/XeCapCuu.jpg" />
        <p class="p-mv-3">XE CẤP CỨU</p>
        <p class="p-time">Khởi Chiếu: 18/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/ConHemAcMong.jpg" />
        <p class="p-mv-3">CON HẺM ÁC MỘNG</p>
        <p class="p-time">Khởi Chiếu: 18/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/RungHienTe.jpg" />
        <p class="p-mv-3">RỪNG HIẾN TẾ</p>
        <p class="p-time">Khởi Chiếu: 18/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1"></div>
    <div class="div-img-1"></div>
    <div class="div-img-1"></div>
</div>
<h4 class="text-h4-2">PHIM SẮP CHIẾU</h4>
<div class="div-4">
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/comeplay.jpg" />
        <p class="p-mv-3">COME PLAY WITH ME</p>
        <p class="p-time">Khởi Chiếu: 25/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/nhungkexauxa.jpg" />
        <p class="p-mv-3">NHỮNG KẺ XẤU XA</p>
        <p class="p-time">Khởi Chiếu: 25/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/mengaimientay.jpg" />
        <p class="p-mv-3">MẾN GÁI MIỀN TÂY</p>
        <p class="p-time">Khởi Chiếu: 25/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/nammuoi.jpg" />
        <p class="p-mv-3">NĂM MƯỜI MƯỜI LĂM</p>
        <p class="p-time">Khởi Chiếu: 25/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/vetnut.jpg" />
        <p class="p-mv-3">VẾT NỨT: ÁM HỒN TRO...</p>
        <p class="p-time">Khởi Chiếu: 25/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/thanhphomattich.jpg" />
        <p class="p-mv-3">THÀNH PHỐ MẤT TÍCH</p>
        <p class="p-time">Khởi Chiếu: 25/03/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
</div>

<div class="div-5">
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/Morbius.jpg" />
        <p class="p-mv-3">MORBIUS</p>
        <p class="p-time">Khởi Chiếu: 01/04/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/nhimsonic.jpg" />
        <p class="p-mv-3">NHÍM SONIC</p>
        <p class="p-time">Khởi Chiếu: 08/04/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/demtoirucro.jpg" />
        <p class="p-mv-3">ĐÊM TỐI RỰC RỠ</p>
        <p class="p-time">Khởi Chiếu: 08/04/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/jujutsu.jpg" />
        <p class="p-mv-3">JUJUTSU KAISEN 0: CH...</p>
        <p class="p-time">Khởi Chiếu: 15/04/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/sinhvathuyenbi.jpg" />
        <p class="p-mv-3">SINH VẬT HUYỀN BÍ: BÍ...</p>
        <p class="p-time">Khởi Chiếu: 15/04/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/nghe sieu de.jpg" />
        <p class="p-mv-3">NGHỀ SIÊU DỄ</p>
        <p class="p-time">Khởi Chiếu: 29/04/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
</div>
<div class="div-6">
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/phuthuytoithuong.jpg" />
        <p class="p-mv-3">PHÙ THỦY TỐI THƯỢNG</p>
        <p class="p-time">Khởi Chiếu: 06/05/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1">
        <img class="img-batman" src="~/Image/phicongsieudang.jpg" />
        <p class="p-mv-3">PHI CÔNG SIÊU ĐẲNG</p>
        <p class="p-time">Khởi Chiếu: 27/05/2022</p>
        <button class="bt-mv">Xem Chi Tiết</button>
    </div>
    <div class="div-img-1"></div>
    <div class="div-img-1"></div>
    <div class="div-img-1"></div>
    <div class="div-img-1"></div>

</div>
<h2 class="text-h2">
</h2>